[default]
FileStorePath=target/data/banzai
ConnectionType=initiator
#SenderCompID=CO00000056

TargetCompID=SERVER
SenderCompID=CLIENT1
#TargetCompID=HKEXCO
#SenderCompID=BANZAI
#TargetCompID=EXEC1
#SocketConnectHost=10.83.19.222
SocketConnectHost=10.80.16.140
#SocketConnectHost=10.80.14.58
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=2
TimeZone=Asia/Shanghai
ReconnectInterval=5

[session]
#BeginString=FIXT.1.1
#DefaultApplVerID=FIX.5.0SP2
BeginString=FIX.4.2
DefaultApplVerID=FIX.4.2
SocketConnectPort=8090
#SocketConnectPort=7000
#SocketConnectPort=9876